<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Image slider settings -->
    <add key="DefaultImageCount" value="250" />
    <add key="DefaultTimerInterval" value="3500" />
    <add key="DefaultFolder" value="D:\Backgrounds" />
    <add key="DefaultFilter" value="artz" />
    <add key="DefaultFilterMin" value="sz" />
    <add key="StartUpFolder" value="J:\00CodeWind\ImageSliderNet8\Images\" />
    <add key="StartUpPic" value="Splash01.jpg" />
    
    <!-- User settings -->
    <add key="DefaultUserID" value="1018" />
    <add key="DefaultUserAlias" value="HALOLU19" />
    
    <!-- Logging settings -->
    <add key="LogPath" value="D:\ImageLog\" />
    <add key="EnableLogging" value="true" />
  </appSettings>
  
  <connectionStrings>
    <!-- Add your database connection string here -->
    <add name="ImageSliderDB" 
            connectionString="Data Source=jasmine.arvixe.com;Initial Catalog=LuxDiablo;TrustServerCertificate=True;Persist Security Info=True;User ID=Halo;Password=halohalo5" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>